// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
// Tus colores personalizados (opcional)
$primary: #388E3C;
$body-bg: #E8F5E9;
$font-family-base: 'Segoe UI', sans-serif;

// Importar Bootstrap
@import "~bootstrap/scss/bootstrap";
